@import "tailwindcss";

/* #root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
} */

:root {
  --background: #111111;
  --surface: #DCBAB5;

  --text: #FFFFFF;
  --accent: #EFCED6;
}

.bg-background {
  background-color: var(--background);
}

.bg-surface {
  background-color: var(--surface);
}

.surface-surface
{
  color: var(--surface);
}

.text-text {
  color: var(--text);
}

.accent-accent {
  color: var(--accent);
}

/* Default stuff */
body {
  margin: 0;
  font-family: "Inter Variable", sans-serif;
}

h1,
h2 {
  font-family: "Inter Variable", sans-serif;
  /* font-weight: 500; */
  color: var(--text-h);
}

h1 {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1.68px;
  /* margin: 32px 0;*/
  margin: 0;
  /* @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  } */
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: -0.24px;
  /* margin: 0 0 8px; */
  margin: 0;
  /* @media (max-width: 1024px) {
    font-size: 20px;
  } */
}
p {
  margin: 0;
}